openapi: 3.0.0
info:
  title: Rainforest API
  description: Nearly all interactions done in Rainforest can be done via the API.
    Find your API Token (for the CLIENT_TOKEN header field) on the integration settings
    page (https://app.rainforestqa.com/settings/integrations).
  version: '1'
servers:
- url: https://app.rainforestqa.com/api
security:
- api_key: []
tags:
- name: callback
  description: Operations about callbacks
- name: clients
  description: Operations about clients
- name: connections
  description: Operations about connections
- name: credit_cards
  description: Operations about credit_cards
- name: environments
  description: Operations about environments
- name: features
  description: Operations about features
- name: folders
  description: Operations about folders
- name: generators
  description: Operations about generators
- name: on_premise_crowd
  description: Operations about on_premise_crowds
- name: run_groups
  description: Operations about run_groups
- name: runs
  description: Operations about runs
- name: site_environments
  description: Operations about site_environments
- name: sites
  description: Operations about sites
- name: tags
  description: Operations about tags
- name: test_results
  description: Operations about test_results
- name: tests
  description: Operations about tests
- name: users
  description: Operations about users
- name: vm_stack
  description: Operations about vm_stacks
paths:
  /1/connections:
    get:
      summary: List connections
      description: List connections
      parameters:
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: List connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
      tags:
      - connections
      operationId: get-connections
    post:
      summary: Creates a new connection
      description: Create connection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-connection'
        required: true
      responses:
        '201':
          description: Create connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
      tags:
      - connections
      operationId: create-connection
      x-rdme-order: 1
  /1/connections/{id}:
    get:
      summary: Get connection
      description: Get connection
      parameters:
      - in: path
        name: id
        description: Connection ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
      tags:
      - connections
      operationId: get-connection
    put:
      summary: Rename connection
      description: Rename connection
      parameters:
      - in: path
        name: id
        description: Connection ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rename-connection'
        required: true
      responses:
        '200':
          description: Rename connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
      tags:
      - connections
      operationId: rename-connection
    delete:
      summary: Delete connection
      description: Delete connection
      parameters:
      - in: path
        name: id
        description: Connection ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Delete connection
      tags:
      - connections
      operationId: delete-connection
  /1/connections/{id}/status:
    get:
      summary: Get connection status
      description: Get connection status
      parameters:
      - in: path
        name: id
        description: Connection ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get connection status
      tags:
      - connections
      operationId: get-connection-status
  /1/connections/{id}/regenerate_api_token:
    put:
      summary: Regenerate API token
      description: Regenerate API token
      parameters:
      - in: path
        name: id
        description: Connection ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Regenerate API token
      tags:
      - connections
      operationId: regenerate-api-token
  /1/callback/run/{run_id}/{callback_type}/{digest}:
    post:
      summary: Notify Rainforest when a run webhook callback is complete
      description: 'Notify Rainforest when a `before_run` webhook callback is complete.
        See the [Using Webhooks article](https://help.rainforestqa.com/docs/using-webhooks#running-a-test-using-an-advanced-webhook)
        for more information.

        '
      parameters:
      - in: path
        name: run_id
        description: The ID of the Run you are sending a callback for
        required: true
        schema:
          type: string
      - in: path
        name: callback_type
        description: '`before_run` is currently the only type that is handled by this
          endpoint'
        required: true
        schema:
          type: string
          enum:
          - initializing_run
          - before_run
          - after_run
      - in: path
        name: digest
        description: MD5-HMAC Digest created with [Rainforest Auth](https://github.com/rainforestapp/auth)
        required: true
        schema:
          type: string
      security: []
      responses:
        '201':
          description: Callback successfully handled
        '400':
          description: Callback already processed; Invalid `callback_type`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid digest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - callback
      operationId: post-callback
      x-rdme-order: 1
  /1/clients:
    get:
      summary: Fetch your account details
      description: Fetch your account details
      responses:
        '200':
          description: Retrieved account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
      tags:
      - clients
      operationId: get-clients
      x-rdme-order: 1
    put:
      summary: Update account information
      description: Update account information
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put-clients'
        required: true
      responses:
        '200':
          description: Updated client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          description: Could not update client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - clients
      operationId: put-clients
      x-rdme-order: 2
  /1/clients/stats:
    get:
      summary: Fetch usage stats
      description: Fetch usage stats
      responses:
        '200':
          description: Fetch usage stats
      tags:
      - clients
      operationId: get-client-stats
      x-rdme-order: 3
  /1/clients/select:
    post:
      summary: Select different client
      description: Select different client
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-clients-select'
        required: true
      responses:
        '201':
          description: Switched to a different client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          description: Cannot switch to the current client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Cannot switch to a client you do not have access to
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - clients
      operationId: post-clients-select
      x-rdme-order: 4
  /1/credit_cards:
    get:
      summary: List credit cards
      description: List credit cards
      responses:
        '200':
          description: Retrieved credit cards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCards'
      tags:
      - credit_cards
      operationId: get-credit_cards
      x-rdme-order: 1
  /1/environments:
    get:
      summary: List environments
      description: List environments
      parameters:
      - in: query
        name: name
        description: Filter by name (case-insensitive)
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Retrieved environments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Environment'
      tags:
      - environments
      operationId: get-environments
      x-rdme-order: 1
    post:
      summary: Create a new environment
      description: Create a new environment and corresponding site-environments for
        each site as well
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-environments'
        required: true
      responses:
        '201':
          description: Environment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Environment could not be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - environments
      operationId: post-environments
      x-rdme-order: 2
  /1/environments/{environment_id}:
    get:
      summary: Get an environment
      description: Get an environment
      parameters:
      - in: path
        name: environment_id
        description: An environment ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Environment retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '404':
          description: Environment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - environments
      operationId: get-environment
      x-rdme-order: 10
    put:
      summary: Update an environment
      description: Update an environment
      parameters:
      - in: path
        name: environment_id
        description: An environment ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put-environment'
        required: true
      responses:
        '200':
          description: Environment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Environment could not be updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Environment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - environments
      operationId: put-environment
      x-rdme-order: 11
    delete:
      summary: Delete an environment
      description: Delete an environment and its associated site-environments
      parameters:
      - in: path
        name: environment_id
        description: An environment ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Environment deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Environment could not be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Environment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - environments
      operationId: delete-environment
      x-rdme-order: 12
  /1/features:
    get:
      summary: List features
      description: List features
      parameters:
      - in: query
        name: title
        description: Filter by title (case-insensitive)
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: sort[][title]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: sort[][updated_at]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      responses:
        '200':
          description: Features retrieved
          headers:
            X-Total-Pages:
              description: Total pages
              schema:
                type: integer
            X-Current-Page:
              description: Current page
              schema:
                type: integer
            X-Per-Page:
              description: The maximum number of results per page
              schema:
                type: integer
            X-Total-Results:
              description: The total number of results
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feature'
      tags:
      - features
      operationId: get-features
      x-rdme-order: 1
    post:
      summary: Create a new feature
      description: Create a new feature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-features'
        required: true
      responses:
        '201':
          description: Feature created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '400':
          description: Feature could not be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - features
      operationId: post-features
      x-rdme-order: 2
  /1/features/{id}:
    get:
      summary: Get a feature
      description: Get a feature
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Feature retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '404':
          description: Feature not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - features
      operationId: get-feature
      x-rdme-order: 10
    put:
      summary: Update a feature
      description: Update a feature
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put-feature'
        required: true
      responses:
        '200':
          description: Feature updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '400':
          description: Feature could not be updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Feature not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - features
      operationId: put-feature
      x-rdme-order: 11
    delete:
      summary: Delete a feature
      description: Delete a feature
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Feature deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '404':
          description: Feature not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - features
      operationId: delete-feature
      x-rdme-order: 12
  /1/features/{id}/tests:
    post:
      summary: Add tests to a feature
      description: Add tests to a feature
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-feature-tests'
        required: true
      responses:
        '201':
          description: Tests added to feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '400':
          description: Can't add snippets to a Feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Feature not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - features
      operationId: post-feature-tests
      x-rdme-order: 13
    delete:
      summary: Remove tests from a feature
      description: Remove tests from a feature
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: category
        description: Only return tests with this category
        required: false
        schema:
          type: string
          enum:
          - app
          - site
      - in: query
        name: exploratory_run_id
        description: Only return created in this exploratory run
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: priority
        description: Only return tests with this priority
        required: false
        schema:
          type: string
          enum:
          - P1
          - P2
          - P3
          - ''
          - not_prioritized
      - in: query
        name: query
        description: Only return tests whose title contains, or ID matches, this string
        required: false
        schema:
          type: string
      - in: query
        name: result
        description: Only return tests with a specific result
        required: false
        schema:
          type: string
          enum:
          - passed
          - failed
          - no_result
      - in: query
        name: run_group_id
        description: Only return tests in this run group; use `-1` to filter for tests
          not in any run groups
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: smart_folder_id
        description: Only return tests in this saved filter
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: step_query
        description: Only return tests whose steps match this string
        required: false
        schema:
          type: string
      - in: query
        name: tests
        description: Only return tests matching this criteria. Can be comma-separated
          list of test ids or 'all' to return all tests
        required: false
        schema:
          type: string
      - in: query
        name: type
        description: Only return tests of this type
        required: false
        schema:
          type: string
          enum:
          - snippet
          - test
      - in: query
        name: variable
        description: Only return tests that contain given variable
        required: false
        schema:
          type: string
      - in: query
        name: embedded
        description: If true, only return tests that are embedded in other tests.
          If false, only return tests that are not embedded in other tests.
        required: false
        schema:
          type: boolean
      - in: query
        name: owner_id
        description: Only return tests owned by this user; use `-1` to filter for
          tests without an owner
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: test_language
        description: Only return tests with a specified language
        required: false
        schema:
          type: string
          enum:
          - plain_english
          - rainforest_test_language
      - in: query
        name: feature_id[]
        description: Only return tests with this/these feature(s); use `-1` to filter
          for tests without a feature
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: site_id[]
        description: Only return tests for this/these site(s)
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: state[]
        description: Only return tests that with this state
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - enabled
            - disabled
            - draft
            - archived
            - all
            - unarchived
      - in: query
        name: tags[]
        description: Only return tests having all specified tags; use `-1` to filter
          for untagged tests
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: run_id[]
        description: Only return tests that were in this/these previous run(s)
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      responses:
        '200':
          description: Tests removed from feature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
        '404':
          description: Feature not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - features
      operationId: delete-feature-tests
      x-rdme-order: 14
  /1/folders:
    get:
      summary: List folders
      description: List folders
      parameters:
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: title
        description: Filter by title (case-insensitive)
        required: false
        schema:
          type: string
      - in: query
        name: type
        description: Filter by type
        required: false
        schema:
          type: string
          enum:
          - filter
          - tag
      responses:
        '200':
          description: Folders retrieved
          headers:
            X-Total-Pages:
              description: Total pages
              schema:
                type: integer
            X-Current-Page:
              description: Current page
              schema:
                type: integer
            X-Per-Page:
              description: The maximum number of results per page
              schema:
                type: integer
            X-Total-Results:
              description: The total number of results
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SmartFolder'
      tags:
      - folders
      operationId: get-folders
      x-rdme-order: 1
    post:
      summary: Create a new folder
      description: Create a new folder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-folders'
        required: true
      responses:
        '201':
          description: Folder created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartFolder'
        '400':
          description: Could not create folder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - folders
      operationId: post-folders
      x-rdme-order: 2
  /1/folders/{id}:
    get:
      summary: Get a folder
      description: Get folder details including a paginated list of tests
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: without_tests
        description: Return folder data without tests and test_count
        required: false
        schema:
          type: boolean
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Folder retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartFolder'
        '404':
          description: Folder not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - folders
      operationId: get-folder
      x-rdme-order: 10
    put:
      summary: Update a folder
      description: Update a folder
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put-folder'
        required: true
      responses:
        '200':
          description: Folder updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartFolder'
        '400':
          description: Could not update folder
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Folder not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - folders
      operationId: put-folder
      x-rdme-order: 11
    delete:
      summary: Delete a folder
      description: Delete a folder
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Folder deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartFolder'
        '404':
          description: Folder not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - folders
      operationId: delete-folder
      x-rdme-order: 12
  /1/generators:
    get:
      summary: List generators
      description: List generators
      parameters:
      - in: query
        name: generator_type
        description: Only return generators of this type
        required: false
        schema:
          type: string
          enum:
          - builtin
          - custom
          - tabular
      - in: query
        name: name
        description: Filter by name (case-insensitive)
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: slim
        description: If true, returns less data in order to reduce latency and response
          size
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Generators retrieved
          headers:
            X-Total-Pages:
              description: Total pages
              schema:
                type: integer
            X-Current-Page:
              description: Current page
              schema:
                type: integer
            X-Per-Page:
              description: The maximum number of results per page
              schema:
                type: integer
            X-Total-Results:
              description: The total number of results
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Generator'
      tags:
      - generators
      operationId: get-generators
      x-rdme-order: 1
    post:
      summary: Create a new generator
      description: Create a new generator
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-generators'
        required: true
      responses:
        '201':
          description: Generator created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generator'
        '400':
          description: Generator could not be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - generators
      operationId: post-generators
      x-rdme-order: 2
  /1/generators/{generator_id}:
    get:
      summary: Get a generator
      description: Get a generator
      parameters:
      - in: path
        name: generator_id
        description: A generator ID
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: slim
        description: If true, returns less data in order to reduce latency and response
          size
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Generator retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generator'
        '404':
          description: Generator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - generators
      operationId: get-generator
      x-rdme-order: 10
    put:
      summary: Update a generator
      description: Update a generator
      parameters:
      - in: path
        name: generator_id
        description: A generator ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put-generator'
        required: true
      responses:
        '200':
          description: Generator updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generator'
        '400':
          description: Generator could not be updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Generator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - generators
      operationId: put-generator
      x-rdme-order: 11
    delete:
      summary: Delete a generator
      description: Delete a generator
      parameters:
      - in: path
        name: generator_id
        description: A generator ID
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: slim
        description: If true, returns less data in order to reduce latency and response
          size
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Generator deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generator'
        '400':
          description: Generator could not be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Generator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - generators
      operationId: delete-generator
      x-rdme-order: 12
  /1/generators/{generator_id}/rows:
    get:
      summary: List generator rows
      description: List generator rows
      parameters:
      - in: path
        name: generator_id
        description: A generator ID
        required: true
        schema:
          type: integer
          format: int32
      - in: header
        name: Accept
        description: What format data to receive
        required: false
        schema:
          type: string
          enum:
          - application/json
          - text/csv
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Retrieved generator rows (JSON format)
          headers:
            X-Total-Pages:
              description: Total pages
              schema:
                type: integer
            X-Current-Page:
              description: Current page
              schema:
                type: integer
            X-Per-Page:
              description: The maximum number of results per page
              schema:
                type: integer
            X-Total-Results:
              description: The total number of results
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneratorRow'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneratorRow'
        '202':
          description: CSV currently being generated, please try again.
        '302':
          description: Redirecting to CSV file
        '400':
          description: CSV could not be generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/csv:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Generator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/csv:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - generators
      operationId: get-generator-rows
      x-rdme-order: 20
    post:
      summary: Create a new generator row
      description: Create a new generator row
      parameters:
      - in: path
        name: generator_id
        description: A generator ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-generator-rows'
        required: true
      responses:
        '201':
          description: Generator Row created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratorRow'
        '400':
          description: Generator Row could not be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Generator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - generators
      operationId: post-generator-rows
      x-rdme-order: 21
  /1/generators/{generator_id}/rows/batch:
    post:
      summary: Create multiple generator rows
      description: Create multiple generator rows
      parameters:
      - in: path
        name: generator_id
        description: A generator ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-generator-rows-batch'
        required: true
      responses:
        '201':
          description: Generator Rows created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeneratorRow'
        '400':
          description: Generator Rows could not be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Generator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - generators
      operationId: post-generator-rows-batch
      x-rdme-order: 22
  /1/generators/{generator_id}/rows/{row_id}:
    get:
      summary: Get a generator row
      description: Get a generator row
      parameters:
      - in: path
        name: generator_id
        description: A generator ID
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: row_id
        description: A row ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Generator Row retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratorRow'
        '404':
          description: Generator or Generator Row not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - generators
      operationId: get-generator-row
      x-rdme-order: 30
    put:
      summary: Update a generator row
      description: Update a generator row
      parameters:
      - in: path
        name: generator_id
        description: A generator ID
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: row_id
        description: A row ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put-generator-row'
        required: true
      responses:
        '200':
          description: Generator Row updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratorRow'
        '400':
          description: Could not update Generator Row
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Generator or Generator Row not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - generators
      operationId: put-generator-row
      x-rdme-order: 31
    delete:
      summary: Delete a generator row
      description: Delete a generator row
      parameters:
      - in: path
        name: generator_id
        description: A generator ID
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: row_id
        description: A row ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Generator Row deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        '400':
          description: Could not delete Generator Row
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Generator or Generator Row not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - generators
      operationId: delete-generator-row
      x-rdme-order: 32
  /1/on_premise_crowd:
    get:
      summary: List On-Prem Crowd testers
      description: List On-Prem Crowd testers
      responses:
        '200':
          description: Retrieved On-Prem crowd testers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Worker'
      tags:
      - on_premise_crowd
      operationId: get-on_premise_crowd_testers
      x-rdme-order: 1
    post:
      summary: Create an On-Prem Crowd tester
      description: Create an On-Prem Crowd tester
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-on_premise_crowd_testers'
        required: true
      responses:
        '201':
          description: Created On-Prem Crowd tester
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker'
        '400':
          description: Could not create On-Prem Crowd tester
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - on_premise_crowd
      operationId: post-on_premise_crowd_testers
      x-rdme-order: 2
  /1/on_premise_crowd/{worker_id}:
    delete:
      summary: Delete an On-Prem Crowd tester
      description: Delete an On-Prem Crowd tester
      parameters:
      - in: path
        name: worker_id
        description: A worker ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Deleted On-Prem Crowd tester
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker'
        '404':
          description: On-Prem Crowd tester not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - on_premise_crowd
      operationId: delete-on_premise_crowd_tester
      x-rdme-order: 10
  /1/runs:
    post:
      summary: Create a new run
      description: Create a new run
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-runs'
        required: true
      responses:
        '201':
          description: Run created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '400':
          description: Run could not be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: post-runs
      x-rdme-order: 2
    get:
      summary: List runs
      description: List runs
      parameters:
      - in: query
        name: created_at[gte]
        description: Only runs created at or after this time; must be used with `created_at[lt]`
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_at[lt]
        description: Only runs created before this time; must be used with `created_at[gte]`
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: execution_method
        description: Only runs executed using this method
        required: false
        schema:
          type: string
          enum:
          - crowd
          - automation
          - automation_and_crowd
          - on_premise
      - in: query
        name: crowd
        description: Only runs against this crowd
        required: false
        schema:
          type: string
          enum:
          - default
          - on_premise_crowd
          - automation
          - automation_and_crowd
      - in: query
        name: environment_id
        description: Only runs against this/these environment(s)
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: mode
        description: Only runs with this mode
        required: false
        schema:
          type: string
          enum:
          - standard
          - draft
          - rerun
      - in: query
        name: query
        description: Only runs that have an id that matches this query or runs that
          have a description which contains the query
        required: false
        schema:
          type: string
      - in: query
        name: release
        description: Only runs matching this release
        required: false
        schema:
          type: string
      - in: query
        name: result
        description: Only runs with this result
        required: false
        schema:
          type: string
          enum:
          - passed
          - failed
          - no_result
      - in: query
        name: run_group_id
        description: Only runs for this/these run group(s)
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: source
        description: Only runs from this source
        required: false
        schema:
          type: string
          enum:
          - api
          - application
          - rainforest-cli
          - rainforest-orb
          - rainforest-gh-action
          - schedule
          - unknown
      - in: query
        name: state
        description: Only runs in this state
        required: false
        schema:
          type: string
          enum:
          - queued
          - validating
          - downloading_app
          - waiting_for_test_initialization
          - analyzing_app
          - error
          - sending_webhook
          - in_progress
          - aborting
          - aborted
          - timed_out
          - waiting_for_callback
          - complete
          - pending_investigation
      - in: query
        name: user_id
        description: Only runs created by this/these user(s)
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: branch_id
        description: Only runs created on this/these branch(es)
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: sort[][id]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: sort[][description]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: sort[][created_at]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Runs retrieved
          headers:
            X-Total-Pages:
              description: Total pages
              schema:
                type: integer
            X-Current-Page:
              description: Current page
              schema:
                type: integer
            X-Per-Page:
              description: The maximum number of results per page
              schema:
                type: integer
            X-Total-Results:
              description: The total number of results
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Runs_Index'
        '400':
          description: Could not list runs using provided parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: get-runs
      x-rdme-order: 1
  /1/runs/{run_id}/tests/{test_id}:
    get:
      summary: Get a test from a run
      description: Get a test from a run
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: test_id
        description: A test ID
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: show_rejected_jobs
        description: Show rejected jobs or not
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Run test retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tests_RunTestsIndex'
        '404':
          description: Run or test not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: get-run-test
      x-rdme-order: 30
  /1/runs/historical_usage:
    get:
      summary: Get historical credit usage for runs
      description: List historical credit usage for runs
      parameters:
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Runs usage retrieved
          headers:
            X-Total-Pages:
              description: Total pages
              schema:
                type: integer
            X-Current-Page:
              description: Current page
              schema:
                type: integer
            X-Per-Page:
              description: The maximum number of results per page
              schema:
                type: integer
            X-Total-Results:
              description: The total number of results
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunCost'
      tags:
      - runs
      operationId: get-runs-historical_usage
      x-rdme-order: 4
  /1/runs/{run_id}:
    get:
      summary: Get a run
      description: Get a run
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: slim
        description: If true, returns less data in order to reduce latency and response
          size
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Run retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: get-run
      x-rdme-order: 10
    put:
      summary: Update a run
      description: Update a run
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put-run'
        required: true
      responses:
        '200':
          description: Run updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Run could not be updated due to a timing issue, please try
            again
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: put-run
      x-rdme-order: 11
    delete:
      summary: Cancel a run
      description: Cancel a run
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Run canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Run could not be canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: delete-run
      x-rdme-order: 12
  /1/runs/{run_id}/junit:
    get:
      summary: Get a run's JUnit XML
      description: 'Get JUnit.xml for a run containting details of all tests. The
        format will be JUnit XML, but the content here may change over time.

        '
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Run JUnit retrieved
        '400':
          description: Run not complete
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: get-run-junit
      x-rdme-order: 13
  /1/runs/{run_id}/usages:
    get:
      summary: List usages for a run
      description: List usages for a run
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Run usage retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunUsage'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: get-run-usages
      x-rdme-order: 14
  /1/runs/{run_id}/rerun_all:
    post:
      summary: Create a rerun
      description: Rerun all tests from a previous run
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-run-rerun_all'
        required: true
      responses:
        '201':
          description: Rerun created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '400':
          description: Rerun could not be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: post-run-rerun_all
      x-rdme-order: 15
  /1/runs/{run_id}/rerun_failed:
    post:
      summary: Create a rerun
      description: Rerun failed tests from a previous run
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-run-rerun_failed'
        required: true
      responses:
        '201':
          description: Rerun created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '400':
          description: Rerun could not be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: post-run-rerun_failed
      x-rdme-order: 16
  /1/runs/{run_id}/tests:
    get:
      summary: List tests for a run
      description: List tests for a run
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: category
        description: Only return tests with this category
        required: false
        schema:
          type: string
          enum:
          - app
          - site
      - in: query
        name: exploratory_run_id
        description: Only return created in this exploratory run
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: priority
        description: Only return tests with this priority
        required: false
        schema:
          type: string
          enum:
          - P1
          - P2
          - P3
          - ''
          - not_prioritized
      - in: query
        name: query
        description: Only return tests whose title contains, or ID matches, this string
        required: false
        schema:
          type: string
      - in: query
        name: result
        description: Only return tests with a specific result
        required: false
        schema:
          type: string
          enum:
          - passed
          - failed
          - no_result
      - in: query
        name: run_group_id
        description: Only return tests in this run group; use `-1` to filter for tests
          not in any run groups
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: smart_folder_id
        description: Only return tests in this saved filter
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: step_query
        description: Only return tests whose steps match this string
        required: false
        schema:
          type: string
      - in: query
        name: tests
        description: Only return tests matching this criteria. Can be comma-separated
          list of test ids or 'all' to return all tests
        required: false
        schema:
          type: string
      - in: query
        name: type
        description: Only return tests of this type
        required: false
        schema:
          type: string
          enum:
          - snippet
          - test
      - in: query
        name: variable
        description: Only return tests that contain given variable
        required: false
        schema:
          type: string
      - in: query
        name: environment_id
        description: Only return that were run in the specified environment
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: has_comments
        description: Only return tests with or without comments
        required: false
        schema:
          type: boolean
      - in: query
        name: latest_only
        description: Only the latest results for a test
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: release
        description: Only return tests that were run in the specified release
        required: false
        schema:
          type: string
      - in: query
        name: sort[][title]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: sort[][priority]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: sort[][duration]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: sort[][result]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: sort[][failure_status]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: sort[][failed_snippet]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: slim
        description: If true, returns less data in order to reduce latency and response
          size
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: feature_id[]
        description: Only return tests with this/these feature(s); use `-1` to filter
          for tests without a feature
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: site_id[]
        description: Only return tests for this/these site(s)
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: state[]
        description: Only return tests that with this state
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - enabled
            - disabled
            - draft
            - archived
            - all
            - unarchived
      - in: query
        name: tags[]
        description: Only return tests having all specified tags; use `-1` to filter
          for untagged tests
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Run tests retrieved
          headers:
            X-Total-Pages:
              description: Total pages
              schema:
                type: integer
            X-Current-Page:
              description: Current page
              schema:
                type: integer
            X-Per-Page:
              description: The maximum number of results per page
              schema:
                type: integer
            X-Total-Results:
              description: The total number of results
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tests_RunTestsIndex'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: get-run-tests
      x-rdme-order: 20
  /1/runs/{run_id}/tests/mark_as_viewed:
    post:
      summary: Mark tests as viewed
      description: Mark test results as viewed
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-run-tests-mark_as_viewed'
        required: true
      responses:
        '201':
          description: Tests marked as viewed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tests_RunTestsIndex'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: post-run-tests-mark_as_viewed
      x-rdme-order: 21
  /1/runs/{run_id}/tests/{test_id}/comments:
    get:
      summary: List comments for a run test
      description: List comments for a run test
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: test_id
        description: A test ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Run test comments retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TestCommentHistory'
        '404':
          description: Run or test not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: get-run-test-comments
      x-rdme-order: 32
  /1/runs/{run_id}/steps/{step_id}:
    get:
      summary: Get a step from a run
      description: Get a step from a run
      parameters:
      - in: path
        name: run_id
        description: A run ID
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: step_id
        description: A step ID
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: include_feedback
        description: Include tester feedback?
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: show_rejected_jobs
        description: Show rejected jobs?
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: browsers[]
        description: Only include certain browsers in the result
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Retrieved run step
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStep'
        '404':
          description: Run or step not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - runs
      operationId: get-run-test-step
      x-rdme-order: 40
  /1/run_groups:
    get:
      summary: List run groups
      description: List run groups
      parameters:
      - in: query
        name: title
        description: Filter by title (case-insensitive)
        required: false
        schema:
          type: string
      - in: query
        name: sort[][title]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Run groups retrieved
          headers:
            X-Total-Pages:
              description: Total pages
              schema:
                type: integer
            X-Current-Page:
              description: Current page
              schema:
                type: integer
            X-Per-Page:
              description: The maximum number of results per page
              schema:
                type: integer
            X-Total-Results:
              description: The total number of results
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunGroup'
      tags:
      - run_groups
      operationId: get-run_groups
      x-rdme-order: 1
    post:
      summary: Create a new run group
      description: Create a new run group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-run_groups'
        required: true
      responses:
        '201':
          description: Run group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunGroup'
        '400':
          description: Run group could not created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - run_groups
      operationId: post-run_groups
      x-rdme-order: 2
  /1/run_groups/{id}/elements/batch:
    post:
      summary: Add multiple elements to a run group
      description: Add multiple elements to a run group
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-run_group-elements-batch'
        required: true
      responses:
        '201':
          description: Element(s) added to run group
        '400':
          description: Element(s) could not be added to run group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run group or element not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - run_groups
      operationId: post-run_group-elements-batch
      x-rdme-order: 40
    delete:
      summary: Remove multiple elements from a run group
      description: Remove multiple elements from a run group
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: elements[][type]
        description: The element's type
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - feature
            - filter
            - tag
            - test
      - in: query
        name: elements[][element_id]
        description: The feature, filter, or test's id
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: elements[][name]
        description: The tag's name
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Element(s) removed from run group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        '404':
          description: Run group or element not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - run_groups
      operationId: delete-run_group-elements-batch
      x-rdme-order: 41
  /1/run_groups/{id}:
    get:
      summary: Get a run group
      description: Get a run group
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Run group retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunGroup'
        '404':
          description: Run group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - run_groups
      operationId: get-run_group
      x-rdme-order: 10
    put:
      summary: Update a run group
      description: Update a run group
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put-run_group'
        required: true
      responses:
        '200':
          description: Update a run group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunGroup'
      tags:
      - run_groups
      operationId: put-run_group
      x-rdme-order: 11
    delete:
      summary: Delete a run group
      description: Delete a run group
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Run group deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunGroup'
        '404':
          description: Run group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - run_groups
      operationId: delete-run_group
      x-rdme-order: 12
  /1/run_groups/{id}/runs:
    get:
      summary: Get runs for a run group
      description: Get runs for a run group
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Run group runs retrieved
          headers:
            X-Total-Pages:
              description: Total pages
              schema:
                type: integer
            X-Current-Page:
              description: Current page
              schema:
                type: integer
            X-Per-Page:
              description: The maximum number of results per page
              schema:
                type: integer
            X-Total-Results:
              description: The total number of results
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Run'
        '404':
          description: Run group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - run_groups
      operationId: get-run_group-runs
      x-rdme-order: 20
    post:
      summary: Create a new run group run
      description: Create a new run group run
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-run_group-runs'
        required: true
      responses:
        '201':
          description: Run created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '400':
          description: Run group could not created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - run_groups
      operationId: post-run_group-runs
      x-rdme-order: 21
  /1/run_groups/{id}/elements:
    get:
      summary: Get run group elements
      description: Get run group elements
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: sort[][title]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: sort[][created_at]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: sort[][updated_at]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: sort[][priority]
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - asc
            - desc
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Run group elements retrieved
          headers:
            X-Total-Pages:
              description: Total pages
              schema:
                type: integer
            X-Current-Page:
              description: Current page
              schema:
                type: integer
            X-Per-Page:
              description: The maximum number of results per page
              schema:
                type: integer
            X-Total-Results:
              description: The total number of results
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RunGroupElement'
        '404':
          description: Run group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - run_groups
      operationId: get-run_group-elements
      x-rdme-order: 30
    post:
      summary: Add an element to a run group
      description: Add an element to a run group
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-run_group-elements'
        required: true
      responses:
        '201':
          description: Element added to run group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunGroupElement'
        '400':
          description: Element could not be added to run group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Run group or element not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - run_groups
      operationId: post-run_group-elements
      x-rdme-order: 31
  /1/run_groups/{id}/elements/{element_id}:
    get:
      summary: Get an element from a run group
      description: Get an element from a run group
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: element_id
        description: The element ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Run group element retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunGroupElement'
        '404':
          description: Run group or element not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - run_groups
      operationId: get-run_group-element
      x-rdme-order: 50
    delete:
      summary: Remove an element from a run group
      description: Remove an element from a run group
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: element_id
        description: The element ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Element removed from run group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunGroupElement'
        '404':
          description: Run group or element not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - run_groups
      operationId: delete-run_group-element
      x-rdme-order: 51
  /1/sites/{site_id}:
    put:
      summary: Update a site
      description: Update a site
      parameters:
      - in: path
        name: site_id
        description: A site ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put-site'
        required: true
      responses:
        '200':
          description: Site updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '400':
          description: Site could not be updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Site not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - sites
      operationId: put-site
      x-rdme-order: 11
    get:
      summary: Get a site
      description: Get a site
      parameters:
      - in: path
        name: site_id
        description: A site ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Site retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '404':
          description: Site not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - sites
      operationId: get-site
      x-rdme-order: 10
    delete:
      summary: Delete a site
      description: Delete a site and its associated site-environments
      parameters:
      - in: path
        name: site_id
        description: A site ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Site deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '400':
          description: Site could not be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Site not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - sites
      operationId: delete-site
      x-rdme-order: 12
  /1/sites:
    get:
      summary: List sites
      description: List sites
      parameters:
      - in: query
        name: name
        description: Filter by name (case-insensitive)
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          description: Retrieved sites
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Site'
      tags:
      - sites
      operationId: get-sites
      x-rdme-order: 1
    post:
      summary: Create a new site
      description: Create a new site - creates corresponding site-environments for
        each environment as well
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post-sites'
        required: true
      responses:
        '201':
          description: Site created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '400':
          description: Site could not be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - sites
      operationId: post-sites
      x-rdme-order: 2
  /1/site_environments:
    get:
      summary: List sites and environments
      description: List sites and environments
      parameters:
      - in: query
        name: include_site_test_count
        description: Includes test count for each site if set to true
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: slim
        description: If true, returns less data in order to reduce latency and response
          size
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Sites and environments retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SiteEnvironments_Index'
      tags:
      - site_environments
      operationId: get-site_environments
      x-rdme-order: 1
  /1/site_environments/{site_environment_id}:
    put:
      summary: Update a site-environment
      description: Update a site-environment
      parameters:
      - in: path
        name: site_environment_id
        description: A site environment ID
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put-site-environment'
        required: true
      responses:
        '200':
          description: Site-environment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartFolder'
        '400':
          description: Could not update site-environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Site-environment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - site_environments
      operationId: put-site-environment
      x-rdme-order: 11
  /1/tags:
    get:
      summary: List tags
      description: List tags
      parameters:
      - in: query
        name: page
        description: Page of results to display
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page_size
        description: 'Number of results to return per page; maximum: 100'
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      - in: query
        name: name
        description: Filter by name (case-insensitive)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Tags retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
      tags:
      - tags
      operationId: get-tags
      x-rdme-order: 1
  /1/tags/{name}:
    put:
      summary: Rename a tag
      description: Rename a tag
      parameters:
      - in: path
        name: name
        description: Tag name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put-tag'
        required: true
      responses:
        '200':
          description: Tag renamed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
      tags:
      - tags
      operationId: put-tag
      x-rdme-order: 10
    delete:
      summary: Delete a tag
      description: Remove a tag from all tests
      parameters:
      - in: path
        name: name
        description: Tag name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tag deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
      tags:
      - tags
      operationId: delete-tag
      x-rdme-order: 11
  /1/tests/{test_id}/test_versions/{test_version_id}:
    get:
      summary: Get a test version
      description: Get a test version
      parameters:
      - in: path
        name: test_id
        description: A test ID
        required: true
        schema:
          type: integer
[...]
